<!-- app/templates/friends.html -->
{% extends 'base.html' %}

{% block title %}Manage Friends - File Sharing System{% endblock %}

{% block content %}
    <h2 class="mb-4">Manage Friends</h2>
    
    <div class="mb-4">
        <h4>Add a Friend</h4>
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" name="friend_username" class="form-control" placeholder="Friend's Username" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Add Friend</button>
            </div>
        </form>
    </div>
    
    <div>
        <h4>Your Friends</h4>
        {% if friends %}
            <ul class="list-group">
                {% for friend in friends %}
                    <li class="list-group-item">
                        {{ friend.username }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no friends added.</p>
        {% endif %}
    </div>
{% endblock %}